---
import { BarsLeftSvg } from "../../lib/icons/BarsLeft";
import { BarsRightSvg } from "../../lib/icons/BarsRight";
---

<div class="relative mt-24 flex justify-center items-center bg-[#F9F9F9] py-10 md:py-0 dark:bg-primary min-h-[519px]">
  <div class="absolute left-0 top-0 hidden lg:block">
    <BarsLeftSvg />
  </div>
  <div class="absolute right-0 bottom-0 hidden lg:block">
    <BarsRightSvg />
  </div>
  <div class="md:absolute">
    <div class="flex flex-col justify-center items-center gap-6">
      <p class="text-3xl sm:text-5xl sm:leading-[50px] text-center text-main font-extrabold dark:text-white">
        <span class="bg-[#FFF0D9] dark:bg-main">Get Started</span>
        With Irsal
      </p>
      <p class="text-center text-main dark:textwhite text-xl w-[60%]">
        Frybix is hub for managing productivity tasks professionaly and efficiently
      </p>
      <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"></div>
        <input
          type="search"
          id="search"
          class="block md:w-[400px] w-[300px] p-4 ps-10 text-sm text-gray-900 border rounded-full bg-white focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Email"
          required
        />
        <button
          type="submit"
          class="text-white absolute end-2.5 bottom-2.5 rounded-full bg-primary focus:outline-nonefont-medium text-sm px-4 py-2"
        >
          Subscribe
        </button>
      </div>
    </div>
  </div>
</div>
