{
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "plugins": [
    "prettier-plugin-astro"
  ],
  "overrides": [
    {
      "files": [
        "*.astro"
      ],
      "options": {
        "useTabs": false,
        "parser": "astro"
      }
    }
  ]
}