---
import RegistrationStepper from "../Registration";
---

<div
  class="mx-auto mt-5 md:mt-10 max-w-[511px] sm:p-[24px] py-[24px] px-[8px] divide-y divide-white/10"
>
  <div class="px-[24px] pb-[5px]">
    <p
      class="text-[28px]/[34px] mb-4 mt-2 text-center text-main font-extrabold dark:text-white"
    >
      <span class="bg-[#FFF0D9] dark:bg-primary">All-in-one inventory, </span> fulfillment
      and accounting software.
    </p>
  </div>
  <RegistrationStepper client:only="solid-js" />
</div>
