---
import Layout from "../layouts/Layout.astro";
import ShipmentTrack from "../components/ShipmentTrack/ShipmentTrack.astro";
import SmartFeatures from "../components/SmartFeature/SmartFeatures.astro";
import Analytics from "../components/Analytics/Analytics.astro";
import Carrier from "../components/Carrier/Carrier.astro";
import PricePlan from "../components/PricePlan/PricePlan.astro";
import FaqSection from "../components/FAQ/FaqSection";
import GetStarted from "../components/GetStarted/GetStarted.astro";
import Hero from "../components/header/Hero.astro";
import TrustUs from "../components/TrustUs/TrustUs.astro";
---

<Layout title="Welcome to Irsal.">
  <Hero
    showInfo
    subTitle="Optimize your shipment journey and transform data into useful business insights to reduce costs and achieve goals smartly."
    title={`<p class="text-5xl sm:text-[68px] sm:leading-[75px] text-main w-20 font-extrabold dark:text-white">
        Optimized
        <span class="bg-[#FFF0D9] dark:bg-primary">Deliveries,</span> Maximum
        <span class="bg-[#FFF0D9] dark:bg-primary">Revenue!</span>
      </p>`}
  />
  <TrustUs />
  <ShipmentTrack />
  <SmartFeatures />
  <Analytics />
  <Carrier />
  <FaqSection client:only="solid-js" />
  <PricePlan />
  <GetStarted />
</Layout>
