---
import Hero from "../components/header/Hero.astro";
import Layout from "../layouts/Layout.astro";
import PersonalInfon from "../components/PersonalInfo/PersonalInfo.astro";
// import Inventory from "../components/Inventory/Inventory.astro";
import InventoryStep2 from "../components/Inventory/InventoryStep2.astro";
import Inventory from "../components/Inventory/Inventory.astro";
---

<Layout title="Start Your Trial">
  <Hero
    title={`<p class="text-5xl sm:text-[68px] sm:leading-[75px] text-main w-96 font-extrabold dark:text-white sm:mt-32">
        Start Yours
        <span class="bg-[#FFF0D9] dark:bg-primary inline-block sm:block">Free 14</span> 
        <span class="block">Days</span>
        <span class="bg-[#FFF0D9] dark:bg-primary inline-block sm:block">Trial!</span>
      </p>`}
  />

  <Inventory />
  <!-- <InventoryStep2 /> -->
  <PersonalInfon />
</Layout>
