---
import { Image } from "astro:assets";
import Chart from "/src/assets/images/chart.png";
---

<div class="mt-24 mx-auto max-w-screen-2xl px-4">
  <p
    class="text-3xl sm:text-5xl sm:leading-[50px] text-center text-main font-extrabold dark:text-white"
  >
    Unlocking Data with
    <span class="bg-[#FFF0D9] dark:bg-primary">Smart Charts</span>
  </p>
  <div
    class="flex flex-col md:flex-row justify-center items-center mt-8 sm:mt-16 gap-12 flex-wrap lg:flex-nowrap"
  >
    <Image alt="" class="w-full sm:w-auto" src={Chart} quality="100" />
    <div class="max-w-[468px] flex flex-col gap-4">
      <p class="text-2xl sm:text-4xl font-bold text-primary dark:text-white">
        Analytics
      </p>
      <p class="text-lg leading-7 text-main dark:text-white">
        Transform raw data into meaningful insights that captivate and engage
        your audience. You can easily create dynamic and visually appealing
        charts that seamlessly integrate with your website's design.
      </p>
      <div class="flex flex-col gap-3">
        <div class="flex gap-2">
          <div class="rounded-full bg-primary dark:bg-white h-5 w-5"></div>
          <p class="text-main dark:text-primary font-bold">
            View all your shipments and parcels in one platform
          </p>
        </div>
        <div class="flex gap-2">
          <div class="rounded-full bg-primary dark:bg-white h-5 w-5"></div>
          <p class="text-main dark:text-primary font-bold">
            View all your shipments and parcels in one platform
          </p>
        </div>
        <div class="flex gap-2">
          <div class="rounded-full bg-primary dark:bg-white h-5 w-5"></div>
          <p class="text-main dark:text-primary font-bold">
            View all your shipments and parcels in one platform
          </p>
        </div>
        <div class="flex gap-2">
          <div class="rounded-full bg-primary dark:bg-white h-5 w-5"></div>
          <p class="text-main dark:text-primary font-bold">
            Access tracking dashboards and reports
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
