---
import { StarFill } from "../../lib/icons/StarFill";
import { StarDisable } from "../../lib/icons/StarDisable";
import { Image } from "astro:assets";
import DraftBit from "/src/assets/images/draftbit.png";
import Feedly from "/src/assets/images/feedly.png";
import Krisp from "/src/assets/images/krisp.png";
import Jitter from "/src/assets/images/jitter.png";
import Grammerly from "/src/assets/images/grammerly.png";
import HelloSign from "/src/assets/images/hellosign.png";
import LiveChat from "/src/assets/images/livechat.png";
import MapBox from "/src/assets/images/mapbox.png";
import MetaMask from "/src/assets/images/metamask.png";
import People from "/src/assets/images/people.png";
import Sketch from "/src/assets/images/sketch.png";
// Import additional images as needed
const avatarImages = [
  DraftBit,
  Feedly,
  Krisp,
  Jitter,
  Grammerly,
  HelloSign,
  LiveChat,
  MapBox,
  MetaMask,
  People,
  Sketch,
];
---

<div class="mt-24 md:mt-56">
  <div class="flex items-center justify-center mt-24">
    <p class="mr-2 text-main dark:text-white">Trusted By 20,000 Clients</p>
    {[...Array(4)].map((_) => <StarFill />)}
    <StarDisable />
  </div>
  <p
    class="text-5xl mt-2 leading-[50px] text-center text-main font-extrabold dark:text-white"
  >
    They <span class="bg-[#FFF0D9] dark:bg-primary"> Trust Us.</span>
  </p>

  <marquee class="hidden md:block">
    <div class="mx-auto max-w-8xl px-6">
      <div class="flex-wrap flex items-center justify-center gap-6 mt-10">
        {
          avatarImages.map((avatar) => (
            <div class="rounded-full mb-3 py-4 px-6 shadow-xl bg-white dark:shadow-[gray]">
              <Image
                alt="icon"
                class="w-10 md:w-full"
                src={avatar}
                loading="eager"
              />
            </div>
          ))
        }
      </div>
    </div>
  </marquee>
  <div class="mx-auto max-w-8xl px-6 block md:hidden">
    <div class="flex-wrap flex items-center justify-center gap-6 mt-10">
      {
        avatarImages.map((avatar) => (
          <div class="rounded-full mb-3 py-4 px-6 shadow-xl bg-white dark:shadow-[gray]">
            <Image alt="icon" class="w-full sm:w-auto" src={avatar} />
          </div>
        ))
      }
    </div>
  </div>
</div>
