---
import "../styles/main.css";
import Header from "../components/header/Header.tsx";
import Footer from "../components/Footer/Footer.tsx";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Optimize your shipment journey and transform data into useful business insights to reduce costs and achieve goals smartly." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark:bg-main">
		<Header client:only="solid-js"/>
		<slot/>
	 <Footer />
	</body>
</html>